* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(https://imgs.search.brave.com/lKARJffeJdOtIXbcTJQxdNK2c-JxmCnPZ8FLkQ1B6N4/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly90aHVt/YnMuZHJlYW1zdGlt/ZS5jb20vYi9vcmFu/Z2UtYmctMjU0NTA3/MjYuanBn);
}

.gasessing {
  margin-top: 160px;
  background: white;
  padding: 30px;
  width: 350px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

h2 {
  margin-bottom: 15px;
  /* color: #333; */
  color: palevioletred;
}

p {
  margin-bottom: 15px;
  /* color: #555; */
  color: green;
}

input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 8px;
  margin-bottom: 15px;
  outline: none;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  background: #007bff;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #0056b3;
  transform: scale(0.9);
}

#message {
  margin-top: 20px;
  font-weight: bold;
  font-size: 16px;
}
